<div class="ui dimmer" [class.active] = 'loading'>
  <div class="ui large text loader">Loading...</div>
</div>

<div class="jumbotron bg-white">
  <h1 class="display-4">Covid19 Tracker</h1>
  <hr />
  <app-dashboard-cards
    [totalActive]="totalActive"
    [totalConfirmed]="totalConfirmed"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"
  ></app-dashboard-cards>
</div>

<hr />

<div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select Cases:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          id="c"
          value='c'
          name="casetype"
          #c
          (click)="updateChart(c)"
          checked=""
          tabindex="0"
          class="hidden"
        />
        <label for="c">Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          id="a"
          value='a'
          name="casetype"
          #a
          (click)="updateChart(a)"
          tabindex="0"
          class="hidden"
        />
        <label for="a">Active</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          id="r"
          value='r'
          name="casetype"
          #r
          (click)="updateChart(r)"
          tabindex="0"
          class="hidden"
        />
        <label for="r">Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          id="d"
          value='d'
          name="casetype"
          #d
          (click)="updateChart(d)"
          tabindex="0"
          class="hidden"
        />
        <label for="d">Deaths</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <google-chart [type]="chart.PieChart" [data]='datatable'>
    </google-chart>
  </div>
  <div class="col">
    <google-chart [type]="chart.ColumnChart" [data]='datatable'>
    </google-chart>
  </div>
</div>
