<div class="jumbotron bg-white">
  <h1 class="display-4">Covid19 Tracker</h1>
  <hr>
  <div class="row">
    <div class="card col p-3 m-3">
      <div class="ui grey statistic">
        <div class="label">
          <h3>Confirmed</h3>
        </div>
        <div class="value">
          {{totalConfirmed}}
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui green statistic">
        <div class="label">
          <h3>Recovered</h3>
        </div>
        <div class="value">
          {{totalRecovered}}
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui orange statistic">
        <div class="label">
          <h3>Active</h3>
        </div>
        <div class="value">
          {{totalActive}}
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui red statistic">
        <div class="label">
          <h3>Deaths</h3>
        </div>
        <div class="value">
          {{totalDeaths}}
        </div>
      </div>
    </div>
  </div>
</div>
