<div class="row">
  <div class="card col p-3 m-3">
    <div class="ui grey statistic">
      <div class="label">
        <h3>Confirmed</h3>
      </div>
      <div class="value">
        {{totalConfirmed | number}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui green statistic">
      <div class="label">
        <h3>Recovered</h3>
      </div>
      <div class="value">
        {{totalRecovered | number}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui orange statistic">
      <div class="label">
        <h3>Active</h3>
      </div>
      <div class="value">
        {{totalActive | number}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui red statistic">
      <div class="label">
        <h3>Deaths</h3>
      </div>
      <div class="value">
        {{totalDeaths | number}}
      </div>
    </div>
  </div>
</div>
