<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid19 Tracker</h1>
  <hr />

  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="c" class="my-input">Select Country</label>
      <select
        name=""
        id="c"
        class="form-control"
        #input
        (change)="updateValues(input.value)"
      >
        <option value="{{ con }}" *ngFor="let con of countries">{{
          con
        }}</option>
      </select>
    </div>

    <app-dashboard-cards
      [totalActive]="totalActive"
      [totalConfirmed]="totalConfirmed"
      [totalRecovered]="totalRecovered"
      [totalDeaths]="totalDeaths"
    ></app-dashboard-cards>

    <div class="card row">
      <div class="col">
        <google-chart [data]="lineChart"></google-chart>
      </div>

      <div class="col">
        <table class="table col">
          <thead>
            <tr>
              <th>No.</th>
              <th>Cases</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cs of selectedCountryData; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ cs.date | date }}</td>
              <td>{{ cs.cases }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
